.navbar-header{
   position: relative;
              /* Chrome, Safari, Opera */
              -webkit-animation: navbarani 5s;
              -webkit-animation-iteration-count: infinite;
              -webkit-animation-direction:alternate;
              -webkit-animation-play-state: running;

              animation: navbarani 5s;
              animation-iteration-count: infinite;
              animation-direction: alternate;
              animation-play-state: running;
}
/* Chrome, Safari, Opera */
@-webkit-keyframes navbarani {
    0%   {color:red; }
    25%  {color:hsl(290,100%,50%);}
    50%  {color:blue; }
    75%  {color:green; }
    100% {color:red;}
}

/* Standard syntax */
@keyframes navbarani {
    0%   {color:red; }
    25%  {color:hsl(290,100%,50%);}
    50%  {color:blue; }
    75%  {color:green; }
    100% {color:red;}
}
